<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/kelas-guru"></ion-back-button>
    </ion-buttons>
   <ion-title size="small"><b>Pinjam Buku</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Judul Buku</ion-label>
    <ion-input [(ngModel)]="kelas.nguru" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nama Peminjam</ion-label>
    <ion-input type="text" [(ngModel)]="kelas.nkelas" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">NIS/NIP</ion-label>
    <ion-input [(ngModel)]="kelas.npenerbit" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Status</ion-label>
    <ion-input type="text" [(ngModel)]="kelas.status" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">kode Buku</ion-label>
    <ion-input type="text" [(ngModel)]="kelas.kode" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tanggal Pinjam</ion-label>
    <ion-input type="text" [(ngModel)]="kelas.tglpinjam" required></ion-input>
  </ion-item>
  <br><br>
  <ion-button color="primary" fill="solid" expand="block" (click)="createKelas(kelas)">Pinjam</ion-button>
</ion-content>
