<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/ips"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">IPS Kelas VII</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-card routerLink="/ipa7peminjaman">
      <ion-img src="assets/ipsmurid7.jpg"></ion-img>
         <ion-card-content>
          Ilmu Pengetahuan Sosial
          Kelas VII
          (2017)
         </ion-card-content>
      </ion-card>
  
      <ion-card routerLink="/ipa7peminjaman">
        <ion-img src="assets/ipsguru7.jpg"></ion-img>
           <ion-card-content>
            Ilmu Pengetahuan Sosial
            Kelas VII
            (2017)
           </ion-card-content>
        </ion-card>
</ion-content>
