<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/ipa"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">IPA Kelas VIII</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-card routerLink="/ipa7peminjaman">
      <ion-img src="assets/ipaguru8.jpg"></ion-img>
         <ion-card-content>
          Ilmu Pengetahuan Alam
          Kelas VIII
          
         </ion-card-content>
      </ion-card>
  
      <ion-card routerLink="/ipa7peminjaman">
        <ion-img src="assets/ipamurid8.jpg"></ion-img>
           <ion-card-content>
            Ilmu Pengetahuan Alam 
            Kelas VII
            (2017)
           </ion-card-content>
        </ion-card>
</ion-content>
