<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-searchbar color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div><br><ion-item routerLink="/tabs/kelas-guru">
            <ion-img src="assets/abc.png"></ion-img>
              <ion-card-content>
               Buku
              </ion-card-content>
            </ion-item></div>
        </ion-col>
        <ion-col>
          <div><br>
            <ion-item routerLink="/tabs/peminjaman">
              <ion-img src="assets/aaaaa.png"></ion-img>
                 <ion-card-content>
                  Peminjaman
                 </ion-card-content>
              </ion-item></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-item routerLink="/pengembalian">
              <ion-img src="assets/book.png"></ion-img>
                 <ion-card-content>
                  Buku yang Sudah Dikembalikan
                 </ion-card-content>
              </ion-item></div>
        </ion-col>
       </ion-row>
       </ion-grid>
  </ion-content>