<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="utama-siswa">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    

      <ion-tab-button tab="profile">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>

     

  </ion-tab-bar>
</ion-tabs>
