<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Buku</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-card routerLink="/tabs/buku-pelajaran">
      <ion-card-header>
        <h3>Buku Pelajaran</h3>
      </ion-card-header>
    </ion-card>
    <ion-card routerLink="/tabs/buku-cerita">
      <ion-card-header>
        <h3>Buku Fiksi</h3>
      </ion-card-header>
    </ion-card>
      </ion-content>
