<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/kelas-guru"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Pelajaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="warning" routerLink="/tabs/matematika">
    <ion-card-header>
      <h3>Matematika</h3>
    </ion-card-header>
  </ion-card>
  <ion-card color="success" routerLink="/tabs/ipa">
    <ion-card-header>
      <h3>Ilmu Pengetahuan Alam</h3>
    </ion-card-header>
    </ion-card>
    <ion-card color="danger" routerLink="/tabs/ips">
      <ion-card-header>
        <h3>Ilmu Pengetahuan Sosial</h3>
      </ion-card-header>
      </ion-card>
      <ion-card color="medium">
        <ion-card-header>
          <h3>Bahasa Indonesia</h3>
        </ion-card-header>
        </ion-card>
        <ion-card color="secondary">
          <ion-card-header>
            <h3>Bahasa Inggris</h3>
          </ion-card-header>
          </ion-card>
          <ion-card color="light">
            <ion-card-header>
              <h3>Pendidikan Agama Islam</h3>
            </ion-card-header>
            </ion-card>
            <ion-card color="warning">
              <ion-card-header>
                <h3>PPKN</h3>
              </ion-card-header>
              </ion-card>
              <ion-card color="tertiary">
                <ion-card-header>
                  <h3>Kesenian</h3>
                </ion-card-header>
                </ion-card>
                <ion-card color="medium">
                  <ion-card-header>
                    <h3>Sejarah</h3>
                  </ion-card-header>
                  </ion-card>
</ion-content>
