<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/matematika"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Kelas VII</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card routerLink="/matematika7peminjaman" >
   <img src="assets/matematika1.jpg" width="150x" height="200px"> 
       <ion-card-content>
        Matematika 
        Kelas VII
        (2013)
       </ion-card-content>
    </ion-card>

    <ion-card routerLink="/tabs/matematika7peminjaman" >
      <img src="assets/matematikaguru1.jpg" width="150x" height="200px"> 
         <ion-card-content>
          Matematika 
          Kelas VII
          (2013)
         </ion-card-content>
      </ion-card>

  <ion-card routerLink="/tabs/perpanjang" >
    <img src="assets/matematikaguru.jpg" width="150x" height="200px"> 
       <ion-card-content>
        Matematika 
        Kelas VII
        (2014)
       </ion-card-content>
    </ion-card>

    <ion-card routerLink="/tabs/perpanjang" >
      <img src="assets/matematikaguru7.jpg" width="150x" height="200px"> 
         <ion-card-content>
          Matematika 
          Kelas VII
          (2017)
         </ion-card-content>
      </ion-card>

      <ion-card routerLink="/tabs/perpanjang" >
        <img src="assets/matematika7-1.jpg" width="150x" height="200px"> 
           <ion-card-content>
            Matematika 
            Kelas VII
            (2017)
           </ion-card-content>
          </ion-card>

           <ion-card routerLink="/tabs/perpanjang">
            <img src="assets/matematika7-2.jpg" width="150x" height="200px">
               <ion-card-content>
                Matematika 
                Kelas VII
                (2017)
               </ion-card-content>
            </ion-card>

      
</ion-content>
