<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Kembali</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let kelas of kelass">
    <ion-card-header>
      <ion-card-title>{{ kelas.nkelas }}</ion-card-title>
      <h6>{{ kelas.nguru }}</h6>
      <h6>{{ kelas.npenerbit }}</h6>
      <h6>{{ kelas.kode }}</h6>
      <h6>{{ kelas.tglpinjam }}</h6>
    </ion-card-header>
  </ion-card>
  
</ion-content>
