<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<br>
<ion-content class="ion-padding">


    <ion-card color="light">
        <div class="img-wrapper">
          <img src="./assets/by1.jpg" />
        
        </div>
        <ion-card-content class="ion-text-center">
          <h2>Nama : {{user?.userName}}</h2>
          <p>Nim : {{user?.userNim}}</p>
          <p>Telp : {{user?.userPhone}}</p>
          <p>Status : {{user?.userStatus}}</p>
     


          
        </ion-card-content>
      </ion-card>




  

 <br><br><br>
  <ion-button color="primary" expand="block"  (click)="editProfile()">Edit Profile</ion-button>
  <ion-button color="primary" expand="block"  routerLink="/utama">Keluar</ion-button>


</ion-content>
