<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Pesan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/tabs/isi-chat" >
      <img src="assets/pustakamuga3.png" class="item-avatar">
      <p><b>Pustaka Muga</b>
      <ion-label size="small">
        <br>Peminjaman buku Matematika berhasil.
      </ion-label>
</p>
  </ion-item>

  </ion-list>
</ion-content>
