<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Masuk</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
  <img src="assets/pustakamuga2.png" style=" display: block; margin: auto;"/>
  
  <form>
  <ion-list>
  <ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input autocomplete="off" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input autocomplete="off" type="password"></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
  <a routerLink='/register'>Buat Akun</a>
  </ion-item>
  <ion-item lines='none'>
  <a routerLink="/forgot-password">Lupa Kata Sandi</a>
  </ion-item>
  </ion-list>
  <ion-button type="submit" expand="block" shape="round" color="success" (click)="login()">Masuk</ion-button>
  </form>
  </ion-content>