<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/matematika7"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/matematika1.jpg" width="150x" height="200px"> 
     <body>
       <p>Judul Buku : Buku Matematika Kelas VII <br />
          Pengarang : Deddy Suryono <br />
          Penerbit : PT GRAMEDIA <br />
          Kode Buku : B087 </p>
     </body>
     <br><br><br><br><br><br><br>
     <ion-grid>
       <ion-row>
         <ion-col><ion-button expand ="block" routerLink="/add-kelas">Pinjam</ion-button></ion-col>
       </ion-row>
     </ion-grid>
</ion-content>
