<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/kelas-guru"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Buku Fiksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="warning" routerLink="/tabs/novel">
    <ion-card-header>
      <h3>Novel</h3>
    </ion-card-header>
  </ion-card>
  <ion-card color="success">
    <ion-card-header>
      <h3>Cerpen</h3>
    </ion-card-header>
    </ion-card>
    <ion-card color="danger">
      <ion-card-header>
        <h3>Dongeng</h3>
      </ion-card-header>
      </ion-card>
      
</ion-content>
