<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Buku yang Sudah di Kembalikan</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  
    <ion-item>
      <ion-label position="floating">Nama Kelas</ion-label>
      <ion-input type="text" [(ngModel)]="kelas.nkelas" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Judul Buku</ion-label>
      <ion-input [(ngModel)]="kelas.nguru" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Penerbit</ion-label>
      <ion-input type="text" [(ngModel)]="kelas.npenerbit" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kode Kelas</ion-label>
      <ion-input type="text" [(ngModel)]="kelas.kode" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tanggal Peminjaman</ion-label>
      <ion-input type="text" [(ngModel)]="kelas.tglpinjam" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tanggal Kembali</ion-label>
      <ion-input type="text" [(ngModel)]="kelas.tglkembali" required></ion-input>
    </ion-item>
    <br><br><br><br><br><br>
    <ion-button color="light" fill="solid" expand="block" (click)="updateKelas(kelas)">Simpan</ion-button>

</ion-content>
