<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card routerLink="/tabs2/tambah-buku">
    <ion-img src="assets/abc.png"></ion-img>
      <ion-card-content>
       Tambah Buku
      </ion-card-content>
    </ion-card>

  <ion-card routerLink="/tabs/peminjaman">
    <ion-img src="assets/aaaa.png"></ion-img>
       <ion-card-content>
        Peminjaman
       </ion-card-content>
    </ion-card>

      <ion-card routerLink="/pengembalian">
        <ion-img src="assets/book.png"></ion-img>
           <ion-card-content>
            Buku yang Sudah Dikembalikan
           </ion-card-content>
        </ion-card>

        
    
  </ion-content>