<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/matematika"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Matematika Kelas VIII</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card routerLink="/tabs/perpanjang">
    <ion-img src="assets/matematikaguru8.png"></ion-img>
       <ion-card-content>
        Matematika 
        Kelas VIII
        <br>(2017)
       </ion-card-content>
    </ion-card>
    <ion-card routerLink="/tabs/perpanjang">
      <ion-img src="assets/matematika2.jpg"></ion-img>
         <ion-card-content>
          Matematika 
          Kelas VIII
          <br>(bse)
         </ion-card-content>
      </ion-card>
</ion-content>
