<ion-content padding class="background">
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <div style="text-align: center;">
    
  

  <ion-button color="primary" type="submit" expand="block" shape="round" [routerLink]="['/login']">Sebagai Anggota</ion-button>
  <ion-button color="primary" type="submit" expand="block" shape="round" [routerLink]="['/login2']">Sebagai Admin </ion-button>

</div>
</ion-content>
