<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/ipa"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">IPA Kelas VII</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card routerLink="/ipa7peminjaman">
    <ion-img src="assets/ipamurid7.jpg"></ion-img>
       <ion-card-content>
        Ilmu Pengetahuan Alam
        Kelas VII
       </ion-card-content>
    </ion-card>

    <ion-card routerLink="/ipa7peminjaman">
      <ion-img src="assets/ipamurid7-1.jpg"></ion-img>
         <ion-card-content>
          Ilmu Pengetahuan Alam 
          Kelas VII
          (2013)
         </ion-card-content>
      </ion-card>

      <ion-card routerLink="/ipa7peminjaman">
        <ion-img src="assets/matematikaguru1.jpg"></ion-img>
           <ion-card-content>
            Ilmu Pengetahuan Alam
            Kelas VII
            (2013)
           </ion-card-content>
        </ion-card>
</ion-content>
