<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Pinjam</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/kelas-guru']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-card *ngFor="let kelas of kelass">
    <h3><b> Judul Buku : {{ kelas.nguru }}</b></h3>
      <h6>Nama : {{ kelas.nkelas }}</h6>
      <h6>NIS / NIP : {{ kelas.npenerbit }}</h6>
      <h6>Status : {{ kelas.status}}</h6>
      <h6> Kode Buku : {{ kelas.kode }}</h6>
      <h6> Pinjam : {{ kelas.tglpinjam }}</h6>
      <h6> Kembali : {{ kelas.tglkembali }}</h6>
        
          <ion-button size="small" [routerLink]="['/perpanjang/', kelas.id]">Perpanjang</ion-button>
          <ion-button size="small" routerLink="/pengembalian/">Kembalikan</ion-button>
        

</ion-card>

      </ion-content>
