ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 16px 0 24px;
    position: relative;
    padding-top: 60px;
  
    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {
        border-radius: 100px;
        width: 80px;
        height: 80px;
      }
  
      ion-button {
        --border-width: 1px;
        --border-color: var(--ion-color-light-shade);
        --border-style: solid;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
  
        --border-radius: 50%;
        height: 26px;
        width: 26px;
  
        position: absolute;
        right: -10px;
        bottom: -10px;
  
        ion-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }