
<ion-content>

  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <ion-col size-md="6" style="height: 100%;" style="background-color: transparent;">

      

<ion-card>
  <ion-card-header>
    <ion-card-title>Pembaharuan Password</ion-card-title>
  </ion-card-header>
  <p style="text-align: center; padding: 5px;">Kami akan mengirimkan password pemulihan kepada email anda</p>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>


  <div class="ion-padding">
    <ion-button expand="full" shape="round" (click)="forgot()" [disabled]="loading">{{loading ? 'Tunggu..':'Kirim'}}</ion-button>
  </div>  

<div class="ion-padding ion-text-center">
  <ion-button fill="clear" routerLink="/register">Buat Akun</ion-button>
  <ion-button fill="clear" routerLink="/login">Masuk</ion-button>
</div>
   
</ion-card>




</ion-col>
</ion-row>



</ion-content>
