<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/ipa"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/ipamurid7.jpg" width="150x" height="200px"> 
  <body>
    <p>Judul Buku : Buku Ilmu Pengetahuan Alam Kelas VII <br />
       pengarang : Lia Yuliati, Dr, M.Pd <br />
       penerbit :  Buku Sekolah Elektronik (BSE) <br />
       Kode Buku : 008 </p>
  </body>
  <br><br><br><br><br><br><br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand ="block" routerLink="/add-kelas">Pinjam</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
