<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/buku-pelajaran"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">IPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="tertiary" routerLink="/tabs/ipa7">
    <ion-card-header>
      <h3>Kelas VII</h3>
    </ion-card-header>
  </ion-card>
  <ion-card color="warning" routerLink="/tabs/ipa8">
    <ion-card-header>
      <h3>Kelas VIII</h3>
    </ion-card-header>
  </ion-card>
  <ion-card color="danger" routerLink="/tabs/ipa9">
    <ion-card-header>
      <h3>Kelas IX</h3>
    </ion-card-header>
  </ion-card>
</ion-content>
