<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/chat"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">
      <b>Pustaka Muga </b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    <ion-card-header>
      <p>Peminjaman buku Matematika Guru kode buku B087 telah berhasil. No. Pinjam  PJM03.
        Waktu peminjaman dimulai dari tanggal 8 November 2020 hingga 12 November 2020.</p>
    </ion-card-header>
  </ion-card>
</ion-content>
