<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Daftar</ion-title>
  </ion-toolbar>
  </ion-header>
  
 
<ion-content class="ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="floating"> Nama Lengkap</ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> NIS / NIP</ion-label>
          <ion-input required type="text" [(ngModel)]="nim" name="nim"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating"> Email</ion-label>
            <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating"> No. HP </ion-label>
              <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Kata Sandi</ion-label>
                <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
              </ion-item>
              <br><br><br>
              <ion-button size="small" type="submit" expand="block" shape="round" (click)="register()">Daftar</ion-button>
              <ion-button size="small" type="submit" expand="block" shape="round" routerLink="/login">Masuk</ion-button>
      </ion-list>
    </form>
  </ion-card>

</ion-content>
